<div class="w-full max-w-[1347px] h-[227px] rounded-xl p-6 flex gap-6 justify-center items-center">
    <!-- Кнопки -->
    <div class="flex flex-col items-start gap-2 text-left font-raleway text-[14px] leading-[18px] font-semibold text-[#0167B3]">
      <button          
        (click)="setMode('years')"
        [class.opacity-100]="mode === 'years'"
        [class.opacity-50]="mode !== 'years'"
        [class.underline]="mode !== 'years'"
      >
        Все года
      </button>
      <button          
        (click)="setMode('months')"
        [class.opacity-100]="mode === 'months'"
        [class.opacity-50]="mode !== 'months'"
        [class.underline]="mode !== 'months'"
      >
        Месяца
      </button>
    </div>
  
    <!-- Слайдер и тултипы -->
    <div class="relative flex-1 w-full max-w-[1117px] mt-[30px]">
      <!-- Слайдер -->
      <p-slider
        [(ngModel)]="range"
        [range]="true"
        [step]="1"
        [min]="0"
        [max]="max"
        class="custom-slider w-full"
        
      ></p-slider>      

      <!-- Тултипы -->
      <ng-container *ngIf="range?.length === 2">
        <!-- Первый тултип — сверху -->
        <div
          class="tooltip-box arrow-top"
          [style.left.%]="(range[0] / max) * 100"
          style="top: -75px"
          [innerHTML]="getTooltipText(range[0])"
        >
          {{ getTooltipText(range[0]) }}
        </div>
      
        <!-- Второй тултип — снизу -->
        <div
          class="tooltip-box arrow-bottom"
          [style.left.%]="(range[1] / max) * 100"
          style="top: 25px"
          [innerHTML]="getTooltipText(range[1])"
        >
          {{ getTooltipText(range[1]) }}
        </div>
      </ng-container>
  
      <!-- Деления -->
      <div class="flex justify-between mt-3 text-[14px] leading-[18px] font-raleway font-semibold text-[#999999]">
        <ng-container *ngFor="let tick of ticks">
          <div class="text-center"
                [ngClass]="{
                    'text-[#333333] font-semibold': isYearTick(tick),
                    'text-[#999999]': !isYearTick(tick)
                }"
          >
            {{ getTickLabel(tick) }}
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  